<h2 id="improve-this-page">Improve this page</h2>
<p>Is this page clear enough? Typo-free? Could you improve it?</p>
<p>Please fork the <a href="https://github.com/jimhigson/oboe.js-website">Oboe.js
  website repo</a> and make a pull
  request. The markdown source is
  <a href="https://github.com/jimhigson/oboe.js-website/blob/master/content/{{page}}.md">here</a>.</p>
