@import 'variables.scss';

@font-face {
  font-family: $themeMonoFont;
  src: url($root + "/type/cmuntt.eot");
  src: url($root + "/type/cmuntt.ttf");
  src: url($root + "/type/cmuntt.svg");
  src: url($root + "/type/cmuntt.woff");
}

@font-face {
  font-family: $themeFont;
  src: url($root + "/type/cmunrm.eot");
  src: url($root + "/type/cmunrm.ttf");
  src: url($root + "/type/cmunrm.svg");
  src: url($root + "/type/cmunrm.woff");
}

@font-face {
  font-family: $themeItalicFont;
  src: url($root + "/type/cmunti.eot");
  src: url($root + "/type/cmunti.ttf");
  src: url($root + "/type/cmunti.svg");
  src: url($root + "/type/cmunti.woff");
}

@import 'oboe';
@import 'content';
@import 'demo';
@import 'map';
@import 'graph';
@import 'cartogram';
@import 'packetColors';
